<head>
    <title>Error</title>
    <link rel="icon" href="/img/download.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<div>
    {{>header}}
</div>
<p>{{errorMessage}}</p>
<div>
    {{>footer}}
</div>