<head>
    <title>Help</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="/img/download.png">
</head>
<body>
    <div class = "main-content">
    {{>header}}

    </div>
    <h1>Help!!!</h1>
    <p>{{helpText}}</p>
    {{>footer}}
</body>